.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner__icon {
  animation: rotate 1.2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
